<div class="row">
  <div class="col-md-12">
    <h1>Guerreiro {{ warrior?.name }}</h1>
  </div>
  <button class="btn btn-primary btn-return" [routerLink]="['/warriors']">Voltar</button>
  <hr />
  <div class="pull-right row">
    <div class="col-xs-4 col-md-5" *ngFor="let thumbnail of warrior.thumbnails;" class="thumbnails">
      <a href="#" class="thumbnail">
        <img src="{{ thumbnail.url }}" height="150" width="150" alt="{{ thumbnail.name }}" class="img-thumbnail">
      </a>
    </div>
  </div>

  <div class="col-md-12">
    <div class="form-group">
      <strong> Nome : </strong> {{ warrior.name }}
      <br>
      <strong> Tipo : </strong> {{ warrior.category?.name }}
      <br>
      <strong>life: </strong> {{ warrior?.life}}
      <br>
      <strong>damnification: </strong> {{ warrior?.damnification}}
      <br>
      <strong>Defesa: </strong> {{ warrior?.defense}}
      <br>
      <strong>Velocidade de Ataque: </strong> {{ warrior?.attack_velocity}}
      <br>
      <strong>Velocidade de Movimento: </strong> {{ warrior?.movement_velocity}}
      <br>
      <strong>status: </strong>
      <label *ngIf="warrior.status == 1;  else statusInativo">
        Ativo
      </label>
      <ng-template #statusInativo>
        Inativo
      </ng-template>

      <br>
      <strong>Data da última Alteração: </strong> {{ warrior?.status}}
      <br>
      <strong>Data de Cadastro: </strong> {{ warrior?.status}}
      <br>
      <strong>Especialidades: </strong>
      <label class="" *ngFor="let speciality of warrior.specialities;">
        {{ speciality.name }},
      </label>

    </div>
  </div>


  <div>
  </div>

</div>
