<div class="row">
  <div class="col-md-12">
    <h1>Guerreiros</h1>
  </div>
  <br />

  <div class="col-md-12">
    <Button class="btn btn-primary " [routerLink]="['/warriors/create']">Novo Guerreiro</Button>
  </div>
  <br />

  <div class="col-md-3 card" *ngFor="let warrior of warriors">
    <div class="card-body">
      <img src="{{ warrior.thumbnail.url }}" alt="{{ warrior.category.name }}" class="img-thumbnail">
      <h3>
        <a></a>
        <p class="text-uppercase">{{ warrior.name }}</p>
      </h3>

      <span>
        <a class="btn btn-md btn-info" [routerLink]="['/warriors', warrior.id, 'show']">Ver</a>|
        <a class="btn btn-md btn-danger" (click)="destroy(warrior.id)" >Excluir</a>|
        <a class="btn btn-md btn-warning" [routerLink]="['/warriors', warrior.id, 'edit']">Editar</a>
      </span>
    </div>
  </div>

</div>
