  <div class="container">
    <div class="col-md-12">
      <h1>Guerreiro: {{ name }}</h1>
    </div>
    
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="name">Nome </label>
          <input type="text" id="name" placeholder="Entre com o nome" class="form-control" [(ngModel)]="warrior.name">
        </div>
      </div>

      <div class="col-md-2">
        <div class="form-group">
          <label for="name">Vida </label>
          <input type="text" id="life" placeholder="" class="form-control" [(ngModel)]="warrior.life">
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <label for="name">Tipo do Guerreiro </label>
          <select id="tipo" [(ngModel)]="warrior.category_id" class="form-control form-control">
            <option *ngFor="let category of categories;" value="{{ category.id }}"
             selected="{{ category.id == warrior.category_id ? true : 'false'  }}" 
            >{{ category.name }}</option>
          </select>
        </div>
      </div>
      
      <div class="col-md-3">
        <div class="form-group">
          <label for="name">Status </label>
          <select id="status" [(ngModel)]="warrior.status" class="form-control form-control">
            <option value="1">Ativo</option>
            <option value="0">Inativo</option>
          </select>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="name">Velocidade de Movimento </label>
          <input type="number" [(ngModel)]="warrior.movement_velocity" id="movement_velocity" placeholder="velocidade de movimento" class="form-control" [(ngModel)]="movement_velocity">
        </div>
      </div>
      
      <div class="col-md-3">
        <div class="form-group">
          <label for="name">Dano </label>
          <input type="number" [(ngModel)]="warrior.damnification" placeholder="0" class="form-control" value="0" [(ngModel)]="damnification">
        </div>
      </div>
      <div class="col-md-3">
      <div class="form-group">
        <label for="name"> Velocidade de ataque </label>
        <input type="number" [(ngModel)]="warrior.attack_velocity" placeholder="Velocidade de ataque" class="form-control" [(ngModel)]="attack_velocity" >
      </div>
    </div>
    
    <div class="col-md-3">
      <div class="form-group">
        <label for="name">Defesa </label>
        <input type="number" id="defense" placeholder="Defesa" class="form-control" [(ngModel)]="warrior.defense">
      </div>
    </div>
  </div>
  
  <div class="row">
    
    <div class="col-md-4">
      <div class="form-group">
        <label for="speciality">Especialidades {{ warrior.id_specialities|json }} </label>
        <select id="speciality" [(ngModel)]="warrior.specialities" class="form-control form-control" multiple>
          <option *ngFor="let speciality of specialities;" value="{{ speciality.id }}"
          selected="true" checked="true"
          >{{ speciality.name }}</option>
        </select>
      </div>
    </div>

    <div class="col-md-6" *ngIf="!warrior.id">
      <div class="form-group">
        <label for="type" class="form-label">Thumbnails </label>
        <input class="form-control-file"  placeholder="Selecione os thumbnails " type="file" id="file" (change)="handleFiles($event.target.files)" multiple> 
      </div>
    </div>
  </div>
  
  <div class="col-md-6">
    <button type="submit" class="btn btn-lg btn-primary" (click)="save()">Gravar</button>
  </div>
</div>